body{
    background-color: rgb(240, 214, 218);
    margin: 0;
    padding: 0;
}

.first-container{
    width: 100%;
    height: 65px;
    background-color: purple;
    color: white;
}

.first-container .big{
    padding-left: 30px;
    font-size: 50px;
    font-family: constantia;
}

.first-container .small{
    padding-left: 300px;
    padding-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

#seat-container{
  width: 100%;
  text-align: center;
}

#seat-container h4{
    border-bottom: 2px solid purple;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.seats{
    display: grid;
    border: 2px solid purple;
    height: 25px;
    width: 25px;
    margin: 10px;
}

.seats:hover{
    background-color: purple;
    color: white;
}

.first-row{
    display:flex;
}
.second-row{
    display:flex;
}
.third-row{
    display:flex;
}
.fourth-row{
    display:flex;
}
.fifth-row{
    display:flex;
}
.sixth-row{
    display:flex;
}
.seventh-row{
    display:flex;
}
.eighth-row{
    display:flex;
}
.ninth-row{
    display:flex;
}
.tenth-row{
    display:flex;
}

.first-box{
    margin-left: 10px;
    display: inline-block;
}

.second-box{
    margin-left: 40px;
    display: inline-block;
}

.third-box{
    margin-left: 40px;
    display: inline-block;
}