/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    --primary: #5e00c9;
    --primaryA: #313552;
    --primaryB: #5e00c9;
    --secondary: rgb(253, 22, 115);
    --secondaryB: rgb(248, 96, 126);
    --positive: green;
    --positiveB: rgb(98, 189, 98);
    /* --secondaryB: #f4c2c2; */

    --background: whitesmoke;
    --textone: black;
    --texttwo: white;
}

body {
    background-color: var(--background);
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styles for the tickets page */
/* .first-container {
    width: 100%;
    height: 65px;
    background-color: var(--primaryA);
    color: white;
}

.first-container .big {
    padding-left: 30px;
    font-size: 50px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.first-container .small {
    padding-left: 300px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
} */


#outer1 {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#seat-container {
    width: 59%;
    text-align: center;
    display: flex;
}

#screen {
    font-family: constantia;
    border-bottom: 3px solid var(--primaryA);
    width: 80%;
    height: 2px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#status-hint {
    display: inline;
    background-color: red;
}

#status-hint .hint {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: var(--primaryA);
    display: inline-flex;
}

.seats {
    border: 1px solid var(--primaryA);
    border-radius: 10px;
    height: 18px;
    width: 18px;
    margin: 8px;
    padding: 5px;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.available, .selected {
    cursor: pointer;
}

.available:hover {
    background-color: var(--primaryA);
    color: var(--texttwo);
}

.reserved {
    background: orange;
}

.booked {
    background: rgb(243, 24, 24);
}

.reservedmine {
    background: var(--positiveB);
}

.bookedmine {
    background: var(--positive);
}

.selected {
    background: var(--primaryA);
    color: transparent;
}

#seatlabel {
    background: none;
    color: var(--primaryA);
    border: 1px solid transparent;
    /* padding:4px; */
}

.row {
    display: flex;
}

.box {
    display: inline-flex;
    width: 17vw;
    flex-wrap: wrap;
    margin: 40px 5px;
}

#zero-box {
    display: inline-flex;
    width: 2vw;
    flex-wrap: wrap;
    transform: translate(0, 20px);
    font-size: 20px;
    margin: 45px 0px;
    height: fit-content;
}

#buy-ticket {
    height: 70vh;
    width: 39%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#purchase {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bnrb {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: var(--texttwo);
    background-color: var(--secondaryB);
    border: 2px solid transparent;
    padding: 15px 55px;
    border-radius: 15px;
}

.bnrb:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

#bill {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    height: 70vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--texttwo);
    background-color: var(--secondaryB);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    border-radius: 20px;
}

#bill h2 {
    margin: 20px;
}

#bill table {
    text-align: left;
    width: 90%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 8px;
    border-collapse: collapse;
}

#bill table td {
    text-align: center;
    word-wrap: break-word;
}

#bill table, td, th, td {
    border: 2px solid var(--texttwo);
}

#bill th, td {
    padding: 16px;
}

/* Styles for navigation */

nav.navbar {
    background: linear-gradient(90deg, var(--primaryA) 0%, var(--primary) 100%);
    background: linear-gradient(90deg, #5e00c9 0%, rgb(255, 118, 141) 100%);

    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-fluid>div {
    width: fit-content;
}

.navbar-brand {
    text-decoration: none;
    color: var(--texttwo);
    margin: 0 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.navbar-nav {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: var(--texttwo);
}

.nav-link:hover {
    color: var(--secondary);
}

.nav-item {
    margin: 1em;
}

.btn {
    height: 2em;
    padding: 0 0.8em;
    font-size: 18px;
    margin: auto 2em;
    border: 2px;
    color: var(--texttwo);
    background: var(--secondary);
    border-radius: 7px;
}

.btn:hover {
    background: var(--texttwo);
    color: var(--primaryB);
}



/* Homepage styles by Roshan Panta */
#home {
    width: 100%;
    margin-top: 40px;
}

.home1 {
    transform: translate(130px, 0px);
    width: 50%;
    height: 590px;
    display: inline-flex;
    flex-direction: column;
}

#w {
    text-decoration: line-through;
    color: var(--secondary);
}

#w span {
    color: var(--primary);
}

.home1 h1 {
    width: 95%;
    display: inline-block;
    padding-top: 50px;
    font-size: 20px;
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

.home1 strike {
    font-size: 50px;
    color: rgb(253, 51, 84);
    font-family: 'Roboto', sans-serif;
}

.home1 h2 {
    padding-top: 50px;
    display: inline-block;
    color: var(--primary);
    font-size: 70px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.home1 button {
    background-color: var(--secondary);
    color: var(--texttwo);
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    height: 50px;
}

.home1 button:hover {
    transition: 0.5s ease;
    background-color: var(--texttwo);
    color: var(--secondary);
    border: var(--secondary) solid 2.5px;
}

.home2 {
    width: 50%;
    height: 578px;
    float: right;
    object-fit: cover;
}

.home2 img {
    padding-left: 70px;
}

#about_us {
    float: left;
    height: 590px;
    width: 100%;
    background-image: url(about.jpg);
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.au_content {
    padding-top: 30px;
    float: right;
    width: 70%;
    height: 500px;
    text-align: center;
}

.au_content h1 {
    font-size: 40px;
    font-family: Constantia;
    color: var(--primary);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.au_content p {
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-top: 50px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}

footer {
    float: left;
    color: var(--primary);
    height: 180px;
}

footer h1 {
    font-family: constantia;
    margin-bottom: 30px;
    margin-block-start: 30px;
}

footer #foot {
    width: 100%;
    display: inline-flex;
}

footer div #foot1 {
    display: inline;
    font-family: sans-serif;
    height: auto;
    margin-left: 300px;
}

footer div #foot1 ul {
    list-style: none;
}

footer div #foot1 ul li {
    font-size: 18px;
    padding-bottom: 5px;
}

footer div #foot2 {
    display: inline;
    font-family: sans-serif;
    margin-left: 200px;
}

footer div #foot2 ul {
    list-style: none;
}

footer div #foot2 ul li {
    padding-bottom: 5px;
}

footer div #foot2 ul li a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    padding-bottom: 50px;
}

footer div #foot3 {
    display: inline;
    font-family: sans-serif;
    margin-left: 200px;
}

#last {
    margin-left: 480px;
    width: 50%;
    margin-top: 35px;
    font-family: sans-serif;
    font-size: 18px;
}

#foot3 ul {
    list-style: none;
    display: flex;
}

#foot3 ul li i {
    font-size: 30px;
    padding: 10px;
}


/* Code from login.php */


.container {
    margin: 5em auto;
    width: 20%;
    background-color: var(--secondary);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 15px 1px gray;
}

.dha {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.text-center {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: var(--texttwo);
}

.form-label {
    margin-top: 10em;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--texttwo);
}

.form-control {
    padding: 5px;
    width: 90%;
    display: inline-block;
    background: var(--texttwo);
    border: none;
    border-radius: 8px;
    font-size: 17px;
}

.form-control:focus {
    outline: none;
}

.form-control:focus::-webkit-input-placeholder {
    color: #888;
}

.mb-3 {
    margin-bottom: 0.5em;
    margin-left: 1em;
}

#sub-btn {
    background: #5e00c9;
    border-color: #28a745;
    height: 2em;
    color: #fff;
    width: 89%;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 0.3em;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
}

#sub-btn:hover {
    background: #6f00f9;
    cursor: pointer;
}