* {
    margin: 0;
    padding: 0;
    --primary: #5e00c9;
    --primaryA: #313552;
}

body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main {
    width: 85vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* padding-top: 3vh; */
    position: relative;
    left: 12vw;
    top: 10vh;
}

.box {
    background-color: pink;
    height: 35vh;
    width: 22vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 30px 40px;
    box-shadow: 5px 5px 15px gray;
    color: blue;
    padding: 1em;
}

.box h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    width: max-content;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-weight: 1000;
}