@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

.container {
    position: absolute;
    width: 610px;
    height: 355px;
    top: 75px;
    left: 50px;
    background-color: whitesmoke;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25), inset 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.container:hover {
    background-color: pink;
}

.frame1 {
    width: 1075px;
    height: 620px;
    left: 0px;
    top: 0px;
}

h4 {
    display: inline;
    position: absolute;
    width: 205px;
    height: 50px;
    left: 65px;
    display: inline;
    top: -5px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.rectangle_1 {
    position: absolute;
    display: inline;
    width: 580px;
    height: 329px;
    left: 65px;
    top: 88px;
}

p {
    position: absolute;
    display: inline;
    width: 267px;
    height: 114px;
    left: 65px;
    top: 443px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}

.text {
    display: inline;
    position: absolute;
    width: 255px;
    height: 38px;
    left: 780px;
    top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

#time1 {
    padding-top: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    width: 255px;
    height: 52px;
    left: 764px;
    top: 177px;
    background: #FFFFFF;
    border: 3px solid pink;
    border-radius: 35px;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25), inset 4px 4px 8px rgba(0, 0, 0, 0.25);

}

.time2 {
    padding-top: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    position: absolute;
    width: 255px;
    height: 52px;
    left: 764px;
    top: 282px;
    background: #FFFFFF;
    border: 3px solid pink;
    border-radius: 35px;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25), inset 4px 4px 8px rgba(0, 0, 0, 0.25);

}

.time3 {
    padding-top: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    position: absolute;
    width: 255px;
    height: 52px;
    left: 765px;
    top: 387px;
    background: #FFFFFF;
    border: 3px solid pink;
    border-radius: 35px;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25), inset 4px 4px 8px rgba(0, 0, 0, 0.25);

}

.time2:hover {
    color: #FFFFFF;
    background-color: pink;
    cursor: pointer;
}

.time3:hover {
    color: #FFFFFF;
    background-color: pink;
    cursor: pointer;
}

#time1:hover {
    color: #FFFFFF;
    background-color: pink;
    cursor: pointer;
}